div{
  font-size: 50px;
  font-weight: bold;
  color: red;
}
div.kwadracik{
  height: 35px;
  width: 35px;
  background-color: #007fFF;
  margin: 2px;
  position: relative;
}
div.kwadracik.flaga{
  background-image: url('flaga.gif');
  background-size: cover;
}

div.kwadracik.e9{
  background-image: url('mine.gif');
  background-size: cover;
}
div.kwadracik.e0{
  background-color: white;
}
div.kwadracik.e1{
  background-image: url('one.gif');
  background-size: cover;
}
div.kwadracik.e2{
  background-image: url('two.gif');
  background-size: cover;
}
div.kwadracik.e3{
  background-image: url('three.gif');
  background-size: cover;
}
div.kwadracik.e4{
  background-image: url('four.gif');
  background-size: cover;
}
div.kwadracik.e5{
  background-image: url('five.gif');
  background-size: cover;
}
div.kwadracik.e6{
  background-image: url('six.gif');
  background-size: cover;
}
div.kwadracik.e7{
  background-image: url('seven.gif');
  background-size: cover;
}
div.kwadracik.e8{
  background-image: url('eight.gif');
  background-size: cover;
}
#main{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: #aaa;
  width: 600px;
  height: 800px;
  border-style: solid;
  border-color: #aaa;
}
#licznikmin{
  position: absolute;
  top:0%;
  left: 91%;
}
#ramka{
  background-color: #ccc;
  width: 592px;
  height: 592px;
  border-style: solid;
  border-color: #ccc;
}
body{
  background-color: lightgrey;
}
